<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="pinguo.rocket.mq.dao.IsubscribeDao">

	<!--  
	<select id="getRowCount" resultType="int">
		select count(*) from table_ip
	</select>
	-->
	<select id="findList" resultType="pinguo.rocket.mq.entity.Subscribe" parameterType="map">
		select * from consumer_subscribes
	</select>
	
	<select id="findByCid" parameterType="int" resultType="pinguo.rocket.mq.entity.Subscribe">
		select * from consumer_subscribes where cid=#{cid}
	</select>
	
	<insert id="add" parameterType="pinguo.rocket.mq.entity.Subscribe"  useGeneratedKeys="true" keyProperty="id">
		insert into consumer_subscribes(cid,topic,tag) values (#{cid},#{topic}, #{tag})
	</insert>
</mapper> 
